@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
body{font-family: 'Open Sans', sans-serif;}
header{
	background: #FEEC01;min-height: 80px;
}
.navbar{background: #5D8C2A}
.navbar .nav-link{color: #fff;}
.navbar .nav-item{margin-right: 3rem}
#sidebar1 ol li{font-weight: bold;}
a{text-decoration: none;}
img{max-width: 100%;}
.founder-img{width: 120px;height: 120px;margin-top: 20px;}
.icon{text-align: center;padding-top: 2rem;padding-bottom: 2rem}
.icon i{font-size: 70px;}
.color1{background: rgba(187, 120, 36, 0.1);}
.color2{background: rgba(22, 160, 133, 0.1);}
.color3{background: rgba(213, 15, 37, 0.1);}
.color4{background: rgba(51, 105, 232, 0.1);}
.color5{background: rgba(51, 105, 232, 0.1);}
.color5{background: rgba(250, 188, 9, 0.1);}
.color6{background: rgba(250, 188, 9, 0.1);}
.textcolor1{color: #BB7824}
.textcolor2{color: #16A085}
.textcolor3{color:forestgreen;}
.textcolor4{color:#5cb420}
.textcolor5{color: #fabc09;}
.project .card{width: 19rem;}
.project .card h4{text-align: center;font-size: 20px}
.project .card {box-shadow: 12px 15px 20px 0px rgb(46 61 73 / 15%);border-radius: 4px;transition:all 0.3s ease;}
.project a:hover .card{box-shadow: 2px 4px 8px 0px rgb(46 61 73 / 20%);}
.project a:hover .card h4{text-decoration: underline;}